In [1]:
import pandas as pd

from outliers import mahalanobis_outlier_test
from utils import load_train_test

In [2]:
train_filename = "application_train_numerical.csv"
path_to_data = "../data/"

### load train numerical

In [3]:
df_application_train_numerical = load_train_test(
    filename=train_filename,
    path_to_train_folder=path_to_data,
)
df_application_train_numerical.drop("TARGET", axis=1, inplace=True)
df_application_train_numerical.dropna(inplace=True)

### mahalanobis

In [4]:
distance_vector, t2_statistic_vector, f_statistic_vector, p_value_vector = mahalanobis_outlier_test(
    df_application_train_numerical,
    verbose=True,
)

100%|██████████| 11351/11351 [00:04<00:00, 2337.27it/s]

In [5]:
mahalanobis_df = pd.DataFrame(
    {
        "distance": distance_vector,
        "t2_statistic": t2_statistic_vector,
        "f_statistic": f_statistic_vector,
        "p_value": p_value_vector,
    },
    index=df_application_train_numerical.index,
)

In [6]:
mahalanobis_df.head()

             distance  t2_statistic  f_statistic       p_value
SK_ID_CURR
100083       5.893177      5.892658     5.856834  1.110223e-16
100145       4.852237      4.851809     4.822314  1.110223e-16
100165       5.655791      5.655292     5.620912  1.110223e-16
100179      14.617473     14.616185    14.527329  1.110223e-16
100190       6.745754      6.745160     6.704154  1.110223e-16